.topiccell{
    border-bottom:1px dotted #999;
    padding: 11px 0px;
    overflow: hidden;
    width: 100%;
}

.byline{
    float: right;
}

.tag{
    color: #3e6d8e;
    background-color: #e0eaf1;
    border-bottom: 1px solid #3e6d8e;
    border-right: 1px solid #7f9fb6;
    padding: 3px 4px;
    margin: 2px 2px 2px 0;
    white-space: nowrap;
    font-size: 90%;
}

.tags {
    float: left;
    margin-top: 5px;
}

#topic-title {
    border-bottom: 1px solid #000;
}

.text-content {
    padding: 5px;
}

.dash-separator {
    border-bottom: 1px dotted #000;
}

.discuss-group {
    overflow: hidden;
    width: 100%;
}