{% extends "common.html" %}
{% block title %}Add topic|We Talk{% endblock %}
{% block javascript %}
<script type="text/javascript">
    window.onload = function()
    {
        CKEDITOR.replace( 'editor1',
                {
                    toolbar :
                    [       ['Bold', 'Italic', 'Underline'],
                            ['NumberedList', 'BulletedList']
                    ]
                });
    };

    function submitTopic()
    {
        $.post("/addtopic", $('#addtopicform').serialize(), function(result){

        }, "html");
    }
</script>
{% endblock %}
{% block body %}
<form action="/addtopic" method="post" id="addtopicform"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" name='submit'/>
</form>
{% endblock %}